@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"),
            url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import "variables";
@import "fonts";

//______________________________________________________________________________

@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300);

* {
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
body {
    font-size: 16px;
    font-family: inter;
}
.container{
    max-width: 1232px;
    margin: 0 auto;
    
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px 15px;
}
.nav {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    &__item {
        margin-left: 4.4rem;
        &__first-child {
            margin-left: 0;
        }
        &__last-child {
            margin-left: 2.7rem;
        }
    }
    &__link {
        color: $dark;
        text-decoration: none;
    }
    &__btn {
        font-size: 1.4rem;
        color: $white;
        padding: 1.6rem 2.6rem;
        border-radius: 0.6rem;
        background-color: $purple;
        text-decoration: none;
    }
}
.top{
    background-color: $dark;
    padding: 40px 0 1px;

    &__title{
        color:$white;
        text-align: center;
        width: 60rem;
        margin: 0 auto;
        font-size: 54px;
    }
    &__text{
        margin-top: 4rem;
        text-align: center;
        color: rgb(98, 98, 219);
    }
    &__btns{
        display: flex;
        justify-content: center;
        column-gap: 1rem;
        margin-top: 8rem;
    }
    &__btn{
        color: $white;
        font-size: 1.4rem;
        text-decoration: none;
        padding: 1.6rem 2.6rem;
        border-radius: 0.6rem;
        border: 1px solid #eee;
        background-color: transparent;
    }
    &__btn_active{
        background-color: $purple;
        border: none;
    }
    &__image{
        background-image: url(/img/top-bg-img.png);
        background-repeat: no-repeat;
        height: 927px;
        width: 1207px;
        margin: 0 auto;
        margin-bottom: -200px;
    }
}
.tarifs{
    padding: 140px 0 0;

    &__header{
        color: #333;
        font-size: 5rem;
        width: 600px;
        margin: 0 auto 100px;
        text-align: center;
    }
    &__block{
        display: flex;
        column-gap: 1rem;
        margin: 0 auto;
        width: 117.9rem;
    }
    &__item{
        background-color: #aaa;
    }

    &__item_green{
        background-color: #b9ffdf;
    }
    &__item_yellow{
        background-color: rgb(231, 215, 126);
    }
    &__card{
        display: flex;
        justify-content: space-between;
        background: url(/img/card-bg-1.svg) no-repeat;
        width: 395px;
        height: 250px;
        padding-top: 15rem;
        padding-right: 4rem;
        padding-left: 3rem;
    }
    &__card_yellow{
        background: url(/img/card-bg-yellow.svg) no-repeat;
    }
    &__card_green{
        background: url(/img/card-bg-green.svg) no-repeat;
    }
    &__left{
    }
    &__right{}
    &__title{
        color: $white;
        font-size: 25px;
    }
    &__type{
        color: $white;
        margin-top: 1rem;
        font-size: 22px;
    }
    &__type_green{
        color: #88ffd3;
    }
    &__type_yellow{
        color: #ff9f1c;
    }
    &__price{
        display: flex;
        padding-top: 1.6rem;
        align-items: baseline;
    }
    &__digit{
        color: $white;
        font-size: 52px;
    }
    &__period{
        color: $white;
        font-family: inherit;
    }
    &__list{
        font-family: inherit;
    }
    &__listitem{
        font-family: inherit;
    }
}